---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";

import ContentSpelling from "@components/ContentSpelling.astro";
import ContentColors from "@components/ContentColors.astro";
import ContentFormat from "@components/ContentFormat.astro";
import ContentAssoc from "@components/ContentAssoc.astro";
---

<Layout>
  <Container>
    <aside data-pagefind-ignore>
      <div class="animate">
      <h1 class="text-3xl font-semibold text-black dark:text-white">
        Brand and Design Guidelines
      </h1>
      <section>
        This page was made to help correctly using BUDDYWORKS Designs in
        third-party media.
      </section>
      <br />
      <section>
        For the sake of consistency, there are a few rules about using and
        representing BUDDYWORKS in any form of media.
      </section>
      <br />
      <section>
        You can find all art assets here: <span style="color:#FDDA0D"><a href="https://drive.google.com/drive/u/1/folders/1nXymwSYpDArC0JUnDkoe5CdwLELewp0-">Presskit</a></span>
      </section>
      <br />
      <ContentColors />
      <br>
      <ContentSpelling />
      <br>
      <ContentFormat />
      <br>
      <ContentAssoc />
    </div>
    </aside>
  </Container>
</Layout>
