---
---

<section>
  <h2 class="text-3xl font-semibold text-black dark:text-white">Association</h2>
  BUDDYWORKS has strict rules about who we associate with, and how and where the brand is used.<br><br>
  Association refers to official partnerships and endorsements.<br><br>
  Under no circumstance does any use of our brand by third parties infer endorsement on our end.<br><br>
  Official endorsements are marked as such, and only to be seen on our <span style="color:#FDDA0D"><a href="https://buddyworks.wtf">website</a></span>(s), social media channels or by official announcements in our Discord.<br><br>
  Regardless of such endorsements, we can not guarantee for the safety and correctness of any content maintained by third-parties, at any point.<br><br>

  We use "creators" as a collective term for both creators and communities.<br><br>

  Following is a list of creator-types we do not associate with: <br><br>
  <b>Adult Themes</b><br>
  Content specifically marketed for adult audiences.<br>
  Avatar creators with such features are excluded as long as the store listings and its imagery can be considered SFW.<br><br>

  <b>Politics or Religion</b><br>
  Projects that aim to spread any political or religious agenda.<br><br>

  <b>Horror</b><br>
  Any content that might be considered shocking or gruesome.<br><br>

  If you have any questions about whenever this applies to you, feel free to ask.<br>
  The best way to do so is on my Discord.

</section>


