---
---

<section>
  <h2 class="text-3xl font-semibold text-black dark:text-white">Spelling</h2>
  The only valid spelling and capitalization is “BUDDYWORKS”.<br />
  BUDDYWORKS must be spelled in a single row and can’t be line-broken. ***<br /><br />
  <div class="container">
    <table>
      <tbody>
        <tr>
          <td>OK</td>
          <td>BUDDYWORKS</td>
        </tr>
        <tr>
          <td>Not OK</td>
          <td>
            BUDDY<br />
            WORKS***<br />
            <br />
            Buddyworks*<br />
            BuddyWorks<br />
            buddyworks**<br />
            buddy works<br />
            Buddy Works
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-xs font-light"><span style="color:#7f7f7f">
      * Permitted in code<br />
      ** Permitted for package names and URL’s<br />
      *** Permitted for first-party artwork<br /></span>
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
  }

  .text-xs {
    font-size: 0.75rem;
  }

  .font-light {
    font-weight: 300;
  }
</style>
