---
---

<section>
  <h2 class="text-2xl font-semibold text-black dark:text-white">Format</h2>
  - You can not recolor the artwork colors.<br /> 
  - Scaling must match the original aspect ratio.<br />
  - Opacity is allowed for watermarking.<br /><br />

  <h2 class="text-2xl font-semibold text-black dark:text-white">Font</h2>
  LEMON MILK Medium - Primary<br>
  LEMON MILK Light - Secondary<br>
  Inter - Fallback Primary<br>
  Arial - Fallback Secondary<br>
  <b>Italic font modes are not allowed.</b>
</section>


