---
---

<h1 class="text-3xl font-semibold text-black dark:text-white">Colors</h1>
      <section>
        Our standardized color palette, these are the main colors we use for pretty much everything.<br><br>
        <table>
          <thead>
            <tr>
              <th>Purpose</th>
              <th>Hex Code</th>
              <th>Color Name</th>
              <th>Example</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Accent A</td>
              <td>#FDDA0D</td>
              <td>Cadmium Yellow</td>
              <td><span style="color:#FDDA0D">BUDDYWORKS</span></td>
            </tr>
            <tr>
              <td>Accent B</td>
              <td>#e5e5e5</td>
              <td>Glowing-Hairstrain White</td>
              <td><span style="color:#e5e5e5">BUDDYWORKS</span></td>
            </tr>
            <tr>
              <td>Stencil A</td>
              <td>#000000</td>
              <td>Plain Black</td>
              <td><span class="highlighted" style="color:#000000">BUDDYWORKS</span></td>
            </tr>
            <tr>
              <td>Stencil B</td>
              <td>#191919</td>
              <td>Dark Grey</td>
              <td><span class="highlighted" style="color:#191919">BUDDYWORKS</span></td>
            </tr>
          </tbody>
        </table>
      </section>

<style>
  .container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
  }

  .text-xs {
    font-size: 0.75rem;
  }

  .font-light {
    font-weight: 300;
  }
</style>
